version: "3.9"

services:
  web:
    build: .
    container_name: paytranch_web
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: paytranch_db
    environment:
      POSTGRES_DB: paytranch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
